{{!< default}}
<div class="container" style="margin-top: 80px;">
	{{#if document}}
	{{{document.content}}}
	{{else}}
	page not found
	<script>
		// Sets the new location of the current window.
		window.location = "/";
	</script>
	{{/if}}
</div>