<div id="splash">
	<div class="row" style="margin:0px;">
		<div id="splash-left" class="splash-section col-xs-6">
			<div class="absolute-center" style="width:80%;text-align:center;">
				<div class="row" style="width:100%;color:white;">
					<div class="col-xs-2">
						<img src="/images/supa-icon.svg" style="width:100%;">
					</div>
					<div class="col-xs-10" style="font-size:1.2em;">
						Your new partner in health and fitness. < < The Tagline that tags your lines. > >
					</div>	
				</div>
				<br><br>
				<img src="/images/supa-bra.png" style="width:300px;">
				<br><br>
				<div style="color:white;border:3px solid white;padding:10px 40px;display:inline-block;font-size:1.8em;font-weight:bold;">
					<em>PREORDER!</em>
				</div>
				<br><br>
				<img src="/images/supa-logo.png" style="width:80px;">
			</div>		
		</div>
		<div id="splash-right" class="splash-section col-xs-6">
			<div class="absolute-center" style="width:80%;text-align:center;">
				<img src="/images/supa-phone-watch.png" style="width:60%;">
			</div>
		</div>
	</div>
	<div id="splash-center" class="absolute-center">
		<div id="splash-center-text">
			Sabine is racing to the train.	
		</div>		
		<br>
		<div id="splash-center-image"></div>
	</div>
</div>
