$border-width: 3px;
$double-border-width: 6px;
$supa-red: #FF044C;
$supa-blue: #06E2FF;

body {
	font-family: Poppins;
	font-weight: 400;
	min-width: 960px;
  overflow-y: auto;
}

/* UTILITY CLASSES */
.absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

/* HEADER/NAV */
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 60px;
	background-color: $supa-red;
	width: 100%;
	border-bottom: $border-width solid white;
	z-index: 1000;
	min-width: 960px;
} 
#header-logo{
	display: inline-block;
	line-height: 60px;
	margin-left: 20px;
	margin-right: 20px;
}
#header-nav {
	display: inline-block;
	line-height: 60px;
	float: right;	
}
.header-nav-el {
	color: white;	
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
}
.header-nav-icon {
	color: white;	
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}
#header-nav-newsletter {
	background-color: $supa-blue;
	height: 60px;
	border-bottom: $border-width solid white;
	border-left: $border-width solid white;
}

/* FOOTER */
#footer {
	width: 100%;
	background-color: white;
	height: 60px;
	line-height: 60px;
	color: $supa-red;
	text-align: center;
}

/* SPLASH */
#splash {
	margin-top: 60px;
	position: relative;
}
.splash-section {
	height: calc(100vh - 60px);
	max-height: 800px;
	min-height: 580px;
	width: 50%;
	position: relative;
}
#splash-left {
	background-color: $supa-red;	
}
.splash-left-image {
	display: none;
	margin: 0 auto;
	width: 300px;
}
.splash-left-image.active {
	display: block;
}
#splash-right {
	background-color: white;	
}
.splash-right-image {
	display: none;
	margin: 0 auto;
	width: 70%;
	padding-left: 10%;
}
.splash-right-image.active {
	display: block;
}
#splash-center {
}
.splash-center-text, 
.splash-center-image {
	display: none;
}
.splash-center-text.active,
.splash-center-image.active {
	display: block;
}
#splash-center-text {
	margin: 0 auto;
	border: $border-width solid $supa-blue;
	color: $supa-red;
	font-size: 1.2em;
	font-weight: bold;
	background-color: white;
	border-radius: 20px;
	width: 220px;
	padding: 10px 20px;
	text-align: center;
}
#splash-center-image {
	border: $border-width solid $supa-blue;
	border-radius: 100px;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	text-align: center;
}
#splash-center-image > img{
	border-radius: 50%;
	width: 100%;
}


/* TILES */
.tile {
	height: 45vw;
	display: inline-block;
	border-left: $border-width solid white;
	border-right: $border-width solid white;
	border-top: $double-border-width solid white;
	background-size: cover;
	background-position: center;
}
.tile-corner-text {
	margin: 15px;
	position: absolute;
	font-size: 1.4em;
	font-weight: 500;
}
#top-left.tile-corner-text {
	top: 0px;		
	left: 0px;
	text-align: left;
}
#top-right.tile-corner-text {
	top: 0px;		
	right: 0px;
	text-align: right;
}
#bottom-left.tile-corner-text {
	bottom: 0px;		
	left: 0px;
	text-align: left;
}
#bottom-right.tile-corner-text {
	bottom: 0px;		
	right: 0px;
	text-align: right;
}
.tile-button {
	font-size: 1.6em;
	font-weight: 500;
	border-width: $border-width;
	border-style: solid;
	padding: 10px 40px;
	display: inline;
	text-align: center;
}
.tile-input {
	font-size: 1.4em;
	font-weight: 400;
	padding: 10px 20px;
	display: inline;
	text-align: left;
	border: 0px;
	outline: none;
}
.tile-tagline {
	font-size: 1.6em;
}
.tile-position-top {
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
}
.tile-position-center-top {
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 30%;
}
.tile-position-center {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.tile-position-center-bottom {
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30%;
}
.tile-position-bottom {
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10%;
}
.tile-image-grid {
	text-align: center;
}
.tile-image-grid-image {
	width: 100px;	
	margin: 2vw;
}
.tile-video-play {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 2.0em;
	height: 5vw;
	width: 5vw;
	min-height: 50px;
	min-width: 50px;
	text-align: center;
	line-height: 5vw;
	border-radius: 100px;
	border-width: $border-width;
	border-style: solid;
	cursor: pointer;
}
.tile-lightbox-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	left: 0px;
	top: 0px;
	display: none;
	z-index: 100;
}
.tile-lightbox {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width: 600px;
	width: 80vw;
	color: white;
	text-align: center;
}
.tile-lightbox iframe {
	width: 100% !important;
}
.tile-lightbox a {
	color: $supa-blue;
}
.tile-lightbox-close {
	color: white;	
	text-align: right;
	text-decoration: underline;
	margin-bottom: 10px;
	cursor: pointer;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* FAQ */
.faq-container {
	margin-top: 80px;
}	
.faq-section {
	width: 100%;
	margin-bottom: 20px;
}
.faq-section-header {
	position: relative;
	border-bottom: $border-width solid $supa-red;
}
.faq-section-title {
	color: $supa-red;
	display: inline-block;
	font-size: 1.8em;
	cursor: pointer;
}
.faq-section-sub-title {
	color: $supa-red;
	display: inline-block;
	font-size: 1.2em;
}
.faq-section-toggle {
	border-radius: 50%;
	border: $border-width solid $supa-red;
	color: $supa-red;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 1.8em;
	background-color: white;
	padding-left: 1px;
	position: absolute;
	right: 0px;
	top: 20px;
	cursor: pointer;
}
.faq-section-toggle.open{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}
.faq-section-content {
	display: none;
}

/* MAIN FONTS */
@font-face {
  font-family: Poppins;
  src:  url('../fonts/Poppins-SemiBold.eot') format('eot'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins-SemiBold.svg') format('svg');
  font-style: none;
}
@font-face {
  font-family: Poppins;
  src:  url('../fonts/Poppins-Bold.eot') format('eot'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/Poppins-Bold.svg') format('svg');
  font-weight: 500;
}












