$border-width: 3px;
$mid-border-width: 4.5px;
$double-border-width: 6px;
$supa-red: #FF044C;
$supa-blue: #06E2FF;

body {
	font-family: Poppins;
	font-weight: 400;
	min-width: 960px;
  overflow-y: auto;
}
#body {
  min-height: calc(100vh - 140px);
  margin-top: 50px;
}

/* UTILITY CLASSES */
.absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

/* HEADER/NAV */
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 60px;
	background-color: $supa-red;
	width: 100%;
	border-bottom: $double-border-width solid white;
	z-index: 1000;
	min-width: 960px;
} 
#header-logo{
	display: inline-block;
	line-height: calc(60px - 3px);
	margin-left: 20px;
	margin-right: 20px;
}
#header-logo img {
	width: 80px;
}
#header-nav {
	display: inline-block;
	line-height: calc(60px - 3px);
	float: right;	
}
.header-nav-el {
	color: white;	
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
}
.header-nav-el a {
	color: white;
}
.header-nav-icon {
	color: white;	
	display: inline-block;
	line-height: calc(60px - 3px);
	padding-left: 15px;
	padding-right: 15px;
}
#header-nav-newsletter {
	background-color: $supa-blue;
	height: 60px;
	border-bottom: $double-border-width solid white;
	border-left: $double-border-width solid white;
}

/* FOOTER */
#footer {
	width: 100%;
	background-color: white;
	height: 60px;
	line-height: 60px;
	color: $supa-red;
	text-align: center;
}

/* SPLASH */
#splash {
	margin-top: 60px;
	position: relative;
}
.splash-section {
	height: calc(100vh - 60px);
	max-height: 800px;
	min-height: 680px;
	width: 50%;
	position: relative;
}
#splash-left {
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.splash-left-image {
	display: none;
	margin: 0 auto;
	width: 50%;
}
.splash-left-button {
	color:white;
	border:$mid-border-width solid white;
	padding:10px 40px;
	display:inline-block;
	font-size:1.8em;
	font-weight:bold;
}
.splash-left-image.active {
	display: block;
}
.splash-left-top {
	width: 100%;	
	height: 50%;
	background-size: cover;
	background-position: bottom;
}
.splash-left-bottom{
	width: 100%;	
	height: 50%;
}
#splash-right {
	background-color: white;	
}
.splash-right-image {
	display: none;
	margin: 0 auto;
	width: 70%;
	padding-left: 10%;
}
.splash-right-image-bg {
	margin: 0 auto;
	width: 70%;
	padding-left: 10%;
}
.splash-right-image.active {
	display: block;
}
#splash-center-image {
	background-color: white;
}
.splash-center-text, 
.splash-center-image {
	display: none;
	background-color: white;
}
.splash-center-text.active,
.splash-center-image.active {
	display: block;
}
#splash-center-text {
	margin: 0 auto;
	border: $mid-border-width solid $supa-blue;
	color: $supa-red;
	font-size: 1.2em;
	font-weight: bold;
	background-color: white;
	border-radius: 20px;
	width: 220px;
	padding: 10px 20px;
	text-align: center;
}
#splash-center-image {
	border: $mid-border-width solid $supa-blue;
	border-radius: 100px;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	text-align: center;
}
#splash-center-image > img{
	border-radius: 50%;
	width: 100%;
}


/* TILES */
.tile {
	height: 45vw;
	min-height: 432px;
	display: inline-block;
	border-left: $border-width solid white;
	border-right: $border-width solid white;
	border-top: $double-border-width solid white;
	background-size: cover;
	background-position: center;
}
.tile-corner-text {
	margin: 20px;
	position: absolute;
	font-size: 1.6em;
	font-weight: 500;
}
#top-left.tile-corner-text {
	top: 0px;		
	left: 0px;
	text-align: left;
}
#top-right.tile-corner-text {
	top: 0px;		
	right: 0px;
	text-align: right;
}
#bottom-left.tile-corner-text {
	bottom: 0px;		
	left: 0px;
	text-align: left;
}
#bottom-right.tile-corner-text {
	bottom: 0px;		
	right: 0px;
	text-align: right;
}
.tile-button {
	font-size: 1.6em;
	font-weight: 500;
	border-width: $mid-border-width;
	border-style: solid;
	padding: 10px 40px;
	display: inline;
	text-align: center;
	white-space: nowrap;
}
.tile-image img {
	max-width: 100%;
}
.tile-input {
	font-size: 1.4em;
	font-weight: 400;
	padding: 10px 20px;
	display: inline;
	text-align: left;
	border: 0px;
	outline: none;
	margin-bottom: 15px;
}
textarea.tile-input {
	resize: none;
	width: 100%;
	height: 20%;
}
.tile-quickstart {
	font-size: 1.2em;
}
.tile-tagline {
	font-size: 1.6em;
	min-width: 75%;
}
.tile-position-top {
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
}
.tile-position-center-top {
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 30%;
}
.tile-position-center {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.tile-position-center-bottom {
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30%;
}
.tile-position-bottom {
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10%;
}
.tile-quickstart-image {
	width: 80%;
	border: 2px solid white;
}
.tile-image-grid {
	text-align: center;
}
.tile-image-grid-image {
	width: 36%;	
	margin: 4%;
}
.tile-video-play {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 2.0em;
	height: 5vw;
	width: 5vw;
	min-height: 50px;
	min-width: 50px;
	text-align: center;
	cursor: pointer;
	/*
	line-height: 5vw;
	border-radius: 100px;
	border-width: $border-width;
	border-style: solid;
	padding-left: 3px;
	padding-top: 3px;
	*/
}
.tile-video-play > img {
	width: 60px;
	height: 60px;
}
.tile-lightbox-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	left: 0px;
	top: 0px;
	display: none;
	z-index: 100;
}
.tile-lightbox {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width: 600px;
	width: 80vw;
	color: white;
	text-align: center;
}
.tile-lightbox iframe {
	width: 100% !important;
}
.tile-lightbox a {
	color: $supa-blue;
}
.tile-lightbox-close {
	color: white;	
	text-align: right;
	text-decoration: underline;
	margin-bottom: 10px;
	cursor: pointer;
}
.tile-wide {
	width: 70%;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.tile a {
	color: white;
}
.tile-contact-submit-container {
	position: relative;
}
.tile-contact-submit-result {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}
#tile-contact-submit-button,
#tile-contact-submit-loading,
#tile-contact-submit-success,
#tile-contact-submit-fail {
	display: none;
}
#tile-contact-submit-button.active,
#tile-contact-submit-loading.active,
#tile-contact-submit-success.active,
#tile-contact-submit-fail.active {
	display: inline-block;
}

/* FAQ */
.faq-container {
	margin-top: 80px;
}	
.faq-section {
	width: 100%;
	margin-bottom: 20px;
}
.faq-section-header {
	position: relative;
	border-bottom: $border-width solid $supa-red;
}
.faq-section-title {
	color: $supa-red;
	display: inline-block;
	font-size: 1.8em;
	cursor: pointer;
}
.faq-section-sub-title {
	color: $supa-red;
	display: inline-block;
	font-size: 1.2em;
}
.faq-section-toggle {
	border-radius: 50%;
	border: $border-width solid $supa-red;
	color: $supa-red;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 1.8em;
	background-color: white;
	padding-left: 1px;
	position: absolute;
	right: 0px;
	top: 20px;
	cursor: pointer;
	
	-webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}
.faq-section-toggle.open{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}
.faq-section-content {
	display: none;
}

/* MAIN FONTS */
@font-face {
  font-family: Poppins;
  src:  url('../fonts/Poppins-SemiBold.eot') format('eot'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins-SemiBold.svg') format('svg');
  font-style: none;
}
@font-face {
  font-family: Poppins;
  src:  url('../fonts/Poppins-Bold.eot') format('eot'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/Poppins-Bold.svg') format('svg');
  font-weight: 500;
}












